@font-face{
   font-family: Roboto;
   src: url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face{
   font-family: SemiBoldOpen;
   src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face{
   font-family: BoldOpen;
   src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face{
   font-family: Opensans;
   src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

:root{
   --Roboto: 'Roboto',sans-serif;
   --SemiBoldOpen: 'SemiBoldOpen',sans-serif;
   --BoldOpen: 'BoldOpen',sans-serif;
   --Opensans: 'Opensans',sans-serif;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: var(--Opensans);
   overflow-x: hidden;
   
}
html{
   font-size: 10px;
   scroll-behavior: smooth;
}
ul{
   list-style: none !important;
}
a{
   text-decoration: none !important;
}
button,input{
   border: none !important;
   outline: none !important;
   box-shadow: none !important
}

/*============Header Area Start============*/
.header-area{
   background: url(../img/main_bg.png);
   background-size: 62%;   
   background-position: left;
   background-repeat: no-repeat;
   background-position: left top;
   position: relative;
   overflow: hidden;
   padding-bottom: 5rem;
}
.header-area .header-wrap{
   padding: 35px 60px;
   transition: 0.8s;
   
}
.header-area::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 216%;
   height: 136%;
   background: linear-gradient(#a891fce5, #d4aaf9ad) ;
   transform: translateX(-60px) rotate(-153deg) translateY(50px);
   mix-blend-mode: multiply;
}
.header-area .header-logo img{
   max-width: 80%;
}
.header-area .main-nav .header-menu ul li{
   position: relative;
}
.header-area .main-nav .header-menu ul li{
   float: left;
}
.header-area .main-nav .header-menu ul li a{
   display: block;
   padding: 0px 10px 5px 0px;
   font-size: 1.6rem;
   font-family: var(--SemiBoldOpen);
   color: #ffffff;
   margin: 0 0.8rem 0 0;
   position: relative;
   transition: 0.4s;
   overflow: hidden;
}
.header-area .main-nav .header-menu ul li a:hover{
   color: #ffea00;
}
.header-area .container-fluid{
   padding: 0;
}
.header-area .main-nav .header-menu ul li a::before{
   content: "";
   position: absolute;
   bottom: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: #ffffff ;
   transition: 0.4s;
}
.header-area .main-nav .header-menu ul li:hover a::before{
   left: 0;
   background: #ffea00;
}
.nav_active{
   color: #ffea00 !important;
}

.header-area .main-nav .header-menu ul li a i{
   font-size: 1.2rem;
   margin-left: 0.3rem;
   transition: 0.4s;
}
.header-area .main-nav .header-menu ul li a:hover i{
   transform: rotate(538deg);
}
.header-area .main-nav .header-menu ul li ul{
   position: absolute;
   top: 2.9rem;
   left: 0;
   width: 9rem;
   background: linear-gradient(#d4aaf9dc, #a891fce8) ;
   padding: 1rem 3rem 1.5rem 1.5rem;
   display: none;
   z-index: 3;
}
.header-area .main-nav .header-menu ul a.more_a{
   display: block;
   padding: 0.4rem 0;
   width: 100%;
   font-size: 1.5rem;
   font-family: var(--SemiBoldOpen);
}
.sticky{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: linear-gradient(#b581e2, #876ce6) ;
   z-index: 999;
   padding: 1.6rem 6rem !important;
   opacity: 1;
   box-shadow: 0 0 5px 1px black;
}
.search-div{
   padding-right: 80px;
   margin-top: 25px;
}
.search-div .search-wrap{
   padding-right: 50px;
   background: #ffffff;
   border-radius: 3rem;
   padding: 1rem 2.5rem;   
}
.search-div .search-collection{
   align-items: center;
}
.search-div .search-input i{
   margin-right: 0.8rem;
   font-size: 1.5rem;
   margin-bottom: -0.3rem;
}
.search-div .search-input input{
   font-size: 1.4rem;
   font-family: var(--SemiBoldOpen);
   color: #000000;
   padding-left: 0.5rem;
   padding-right: 1rem;
}
.search-div .collection{
   position: relative;
   cursor: pointer;
}
.search-div .collection ul li a{
   font-size: 1.5rem;
   font-family: var(--SemiBoldOpen);
   color: black;
   margin-top: 0.5rem;
   text-transform: capitalize;
   display: inline-block;
}
.search-div .collection ul li{
   position: relative;
}
.search-div .collection_sub{
   position: absolute;
   top: 2.6rem;
   left: 0;
   padding: 1rem 0.8rem 1rem 1rem;
   background: #ffffff;
   width: 10rem;
   border-radius: 0 0 8px 8px;
   display: none;
   z-index: 3;
}
.search-div .collection_sub li:first-child{
   padding-top: 1rem;
}
.search-div .collection_sub li a{
   font-family: var(--BoldOpen);
   font-size: 1.6rem;
   margin: 0.5rem 0;
   font-weight: 500;
   display: block;
   width: 100%;

}
.search-div .collection_sub li a:hover{
   color: #c5b500;
}
.search-div .collection i{
   margin-left: 0.5rem;
   font-size: 1.4rem;
   transition: 0.2s;
}
.search-div .collec_lix:hover i{
   transform: rotate(180deg);
}
.head-text-wrap{
   padding-right: 6rem;
}
.head-text-wrap h1{
   color: #000000;
   font-family: var(--Roboto);
   font-weight: bold;
   font-size: 6rem;
   line-height: 6.5rem;
   margin-top: 4rem;
}
.head-text-wrap h1 span{
   color: #ffffff;
}
.head-text-wrap h5{
   font-family: var(--Roboto);
   font-weight: 500;
   font-size: 2.5rem;
   margin-left: 0.5rem;
   margin-top: 0.8rem;
}
.head-text-wrap h5 span{
   color: #f6f34a;
}
.head-text-wrap .detail_btn{
   margin-top: 1rem;
   display: inline-block;
}
.head-text-wrap .detail_btn a{
   display: inline-block;
   font-size: 1.6rem;
   font-family: var(--Opensans);
   padding: 0.5rem 2.5rem;
   color: rgb(46, 46, 46);
   background: #ffffff;
   border-radius: 3rem;
   position: relative;
   overflow: hidden;
   z-index: 0;
   transition: 0.4s;
   border: 1px solid transparent;
}
.head-text-wrap .detail_btn a::before{
   position: absolute;
   top: 0;
   left: 0;
   width: 110%;
   height: 110%;
   content: "";
   transition: 0.4s;
   background: linear-gradient(#d4aaf9dc, #a891fce8) ;
   z-index: -1;
   transform: scale(0);

}
.head-text-wrap .detail_btn:hover a{
   color: #ffffff;
   border: 1px solid #ffffff;
}
.head-text-wrap .detail_btn:hover a::before{
   transform: scale(1);
}
.main-nav{
   position: relative;
}
.bar{
   position: absolute;
   right: 0;
   top: 15%;
   display: none;
   cursor: pointer;
}
.bar i{
   color: #ffffff;
   font-size: 1.8rem;
}
.small-nav{
   position: absolute;
   top: 140%;
   width: 100%;
   padding: 1.5rem 1rem;
   background: linear-gradient(#8d74e7 ,#876ce6 ) ;
   text-align: center;
   z-index: 333;
   display: none;
}
.small-nav ul li a{
   padding: 0.6rem 0;
   display: block;
   width: 100%;

}
.small-nav ul li a{
   color: #ffffff;
   font-size: 1.8rem;
}
.small-nav ul li a:hover{
   background: #ffffff;
   
}
.small-nav ul li:hover a{
   color: black;
}
.sml-ul{
   display: none;
}
.sml-more i{
   transition: 0.5s;
   margin-left: 0.6rem;
}
.rotate_i{
   transform: rotate(180deg);
}
/*.head-text-wrap .detail_btn a i{
   font-size: 1.2rem;
   margin-left: 0.8rem;
   transform: translateX(-15px);
   opacity: 0;
   transition: 0.4s;
   color: ;
}
.head-text-wrap .detail_btn:hover a i{
   transform: translateX(0);
   opacity: 1;
}*/
.trend-area{
   padding-top: 7rem;
}
.trend-area .title-row h3, .sec-title{
   font-family: var(--BoldOpen);
   font-size: 2.9rem;
   font-weight: bold;
   color: #111111;
}
.trend-row{
   margin-top: 6rem;
}
.trend-item{
   margin-bottom: 2rem;
   
}
 .trend-content p.title{
   margin-top: 1.8rem;
   color: #777777;
   font-family: var(--Opensans);
   font-size: 1.8rem;
}
.trend-content p.title:hover{
   text-decoration: underline;
   color: #8d57f3;
}
.trend-content p.price{
   color: #313131;
   font-size: 2.2rem;
   font-family: var(--SemiBoldOpen);
   letter-spacing: 0.6px;
}
.cart-btn{
   display: flex;
   justify-content: center;
   margin: auto;
   margin-top: 1.5rem;
   background: linear-gradient( #8c84f9 , #9d6cf5);
   border-radius: 2.8rem;
   width: 15rem;
   transform: translateY(-35px);
   opacity: 0;
   margin-bottom: 2rem;
   transition: 0.3s;
}
.trend-bost:hover .cart-btn{
   transform: translateY(0px);
   opacity: 1;
}
.cart-btn:hover{
   background: linear-gradient( #5e54f7 , #6338b3) ;
}
.cart-btn a{
   font-family: var(--SemiBoldOpen);
   color: #ffffff;
   font-size: 1.6rem;
   display: block;
   padding: 0.8rem 2.5rem;
} 
.trend-bost{
   overflow: hidden;
}
.trend-bost:hover p.price{
   color: #8d57f3 !important;
}

/*================Brand Area Start===========*/

.brand-area{
   padding-top: 5rem;
}
.brand-content{
   margin-top: 15rem;
}

.brand-content h3{
   font-family: var(--BoldOpen);
   font-size: 2.8rem;
   color: #444444;
   margin-bottom: 1.5rem;
}
.brand-content .brand-title{
   color: #666666;
   font-size: 1.5rem;
   line-height: 2.3rem;

}
.brand-content .brand-title span{
   color: #6357e7;
}
.brand-content .brand-desc{
   font-size: 1.3rem;
   color: #555555;
   line-height: 2.4rem;
   margin-top: 1rem;
   display: inline-block;
}
.brand-area .brand-img{
   background: url(../img/round_bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   
   background-size: 65%;
   background-position-x: 100px;
   background-position-y: -25px;
}
.brand-area .brand-img img{
   width: 55%;
   margin-left: 6rem;
   margin-top: 6rem;
}
/*=============Showcse Area Start==========*/
.showcase-area{
   padding-top: 7rem;
}
.show-title{
   padding-bottom: 4rem;
}
.ex-mr{
   margin-top: 4.5rem;
}
.showcase-area .container{
   z-index: 3;
   background: #ffffff;
   position: relative;
}
.showcase-area .button-group{
   margin-bottom: 2rem;
}
.showcase-area .button-group button{
   color: #222222;
   font-size: 1.4rem;
   font-weight: 400;
   padding: 0.6rem 1rem;
   margin: 0 0.5rem;
   
}
.showcase-area .button-group button:hover{
   color: #8d57f3;
}
.btn_active{
   color: #8d57f3 !important;
   font-size: 1.7rem !important;
   font-weight: 600 !important;
}
.showcase-area .button-group button{
   background: rgba(255, 0, 0, 0) !important;
   margin-bottom: 0.9rem !important;
}
/*=========News Letter Area Start==============*/

.news-area{
   background: url(../img/news_bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 10rem 5rem;
   margin-top: -6rem;
   z-index: 0;
   position: relative;
}
.news-area::before{
   content: "GET NOTIFIED";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-80%);
   font-family: var(--Roboto);
   font-size: 8rem;
   color: #ffffff1e;
   font-weight: bold;
   z-index: -1;
}
.news-area h3{
   color: #ffffff;
   font-size: 3.2rem;
   margin-top: 0.7rem;
   margin-bottom: 5rem;
   
}
.input-div{
   width: 60%;
   margin: auto;
   background: #ffffff;
   padding: 0.5rem;
   padding-left: 0.8rem;
   border-radius: 4rem;
   justify-content: space-between;
   
}
.input-div input[type="text"]{
   background: transparent;
   color: black;
   font-size: 1.5rem;
   padding: 0.8rem ;
   width: 80%;
   font-weight: 600;
}
.input-div input[type="submit"]{
   background: linear-gradient(#d4aaf9dc, #a891fce8) ;
   font-size: 1.5rem;
   color: #ffffff;
   font-family: var(--SemiBoldOpen);
   border-radius: 25px;
   height: 100%;
   padding: 0.8rem 2.5rem;
}
.input-div input[type="submit"]:hover{
   background: linear-gradient(#a25fdddc, #7c5cf1e8) ;
}

/*========Footer Area Start============*/

.footer-area{
   padding-top: 6rem;
   padding-bottom: 2rem;
}
.footer-area h3{
   color: #222222;
   margin-bottom: 2.8rem;
}
.footer-area .link{
   margin-top: 2rem;
}
.footer-area .link a{
   display: inline-block;
   color: #555555;
   font-size: 1.5rem;
   font-weight: 500;
   padding: 0.5rem 1.5rem;
   margin: 0 0.2rem;
   border-radius: 2.5rem;
}
.footer-area .link a:hover {
   background: #8960d6;
   color: #ffffff;
}
.footer-area .social a{
   display: inline-block;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   text-align: center;
   line-height: 4rem;
   color: rgb(27, 27, 27);
   font-size: 1.7rem;
   transition: 0.4s;
   margin: 0 1rem;
}
.footer-area .social{
   margin-top: 2rem;
   margin-bottom: 2rem;
}
.footer-area .social a:hover{
   background: linear-gradient(#937de4e5, #c487faad) ;
   color: #ffffff;
}
.footer-area .social a i{
   transition: 0.6s;
}
.footer-area .social a:hover i{
   transform: rotateY(360deg);
}
.footer-area .copy{
   color: #777777;
   font-size: 1.3rem;
}
.footer-area .copy a{
   color: #8d57f3;
   font-weight: bold;
}
.footer-area .copy a:hover{
   color: #000000;
}

/*==================Media Query Start===================*/

@media only screen and (max-width:960px){
   .header-area{
      background-size: cover;
   }
   .brand-content{
      margin-top: 6rem;
   }
   .brand-area .brand-img{
      background-position-y: -10px;
   }
   .news-area::before{
      font-size: 6.3rem;
   }
   .input-div{
      width: 70%;
   }
}

@media only screen and (max-width:768px){
   .bar{
      display: block;
   }
   .header-area .header-wrap{
      padding: 1.2rem 3rem;
   }
   .sticky{
      padding: 1.2rem 3rem !important;
   }
   .header-menu{
      display: none;
   }
   .header-area{
      background-position-x: -90px;
   }
   .header-area::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      text-align: right;
      float: right;
      width: 100%;
      height: 100%;
      transform: translateX(0px) rotate(0deg) translateY(0px);
      margin: 0 0 0 auto;
   }
   .search-div .search-wrap{
      padding: 0.5rem 2.5rem;
   }
   .head-text-wrap h1{
      font-size: 4.5rem;
      line-height: 5.5rem;
   }
   .brand-area .brand-img{
      text-align: center;
      background-position-y: 70px;
      background-size: 100%;
      background-position-x: 34px
   }
   .news-area::before{
      display: none;
   }
      
}


@media only screen and (max-width:585px){
   .brand-content{
      margin-left: 20px;
      margin-right: 20px;
   }
   .search-div{
      display: none;
   }
   .header-area{
      padding-bottom: 5rem;
   }
   .head-text-wrap{
      padding-right: 2rem;
   }
   .input-div{
      width: 100%;
   }
   .input-div input[type="text"]{
      width: 60%;
      font-size: 1.4rem;
   }
   .header-area::before {
      display: none;
   }
   .header-area .container-fluid{
      padding: 0;
   }
   .header-area .header-wrap{
      background: linear-gradient(#937de4e5, #c487faad) ;
   }
   .head-text-wrap h1{
      font-size: 3.5rem;
      line-height: 3.7rem;
   }
   .head-text-wrap h1 span{
      color: black;
   }
   .head-text-wrap .detail_btn a{
      background:#755ccee5;
      color: #ffffff;
   }
   .head-text-wrap .detail_btn a:hover{
      border: 1px solid #8450b1 !important;
   }
  
   .head-text-wrap h5 span{
      color: #6c52cae5;
   }
   .news-area{
      padding-top: 6rem;
      margin-top: 3rem !important;
   }
   .showcase-area .button-group button{
      background: rgba(255, 0, 0, 0) !important;
      margin-bottom: 0.9rem !important;
}

}
