@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: Abel;
    src:url("../fonts/Abel/Abel-Regular.ttf");
}
@font-face{
    font-family: Josefin;
    src:url("../fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}
@font-face{
    font-family: Livic;
    src:url("../fonts/Livvic/Livvic-Regular.ttf");
}